body {
	margin: 0;
	font-family: 'Helvetica';
	background-color: #888;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

#container h1 {
	color: #453875;
}